@font-face {
  font-family: "myFont";
  src: url("font/Norse.otf");
}

* {
  font-family: "Helvetica", "Trebuchet MS", "Verdana", sans-serif;
  padding: 0;
  margin: 0;
}

form {
  width: 100%;
}

button {
  padding: 25px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #596d48;
  color: White;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 12px 30px rgba(41, 192, 21, 0.25);
}

label {
  font-weight: bold;
  color: gray;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border-color: E5E7EB;
}

input:focus {
  box-shadow: 0 12px 30px rgba(76, 137, 243, 0.25);
}

input:user-valid {
  border-color: green;
}

input:user-invalid {
  border-color: red;
}

.colored-line {
  color: 596d48;
  font-weight: bold;
}

.text-description {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
  font-size: 35px;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  font-size: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.row {
  display: flex;
  gap: 80px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.submit-section {
  width: 100%;
  padding: 10px;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 20px;
}

.elements-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
}

.parent-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.floral-background {
  width: 100%;
  height: 100%;
}

/* Three values: flex-grow | flex-shrink | flex-basis */
.logo-container {
  position: relative;
  flex: 0 0 35%;
}

.photo-credit {
  align-items: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.odin-container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Perfectly offsets the image by its own half-width and half-height */
}

.odin-logo {
  width: 150px;
}

.link-style {
  color: white;
}

img ~ p {
  font-family: myFont;
  font-size: 150px;
  font-weight: bold;
}
