@font-face {
  font-family: "myFont";
  src: url("font/Norse.otf");
}

body {
  background: pink;
}

* {
  font-family: "Helvetica", "Trebuchet MS", "Verdana", sans-serif;
  padding: 0;
  margin: 0;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 50px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.submit-section {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

.elements-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
}

form {
  width: 100%;
}

button {
  padding: 25px;
  width: 300px;
  margin-bottom: 20px;
}

input {
  width: 300px;
  height: 30px;
}

.parent-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.floral-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Three values: flex-grow | flex-shrink | flex-basis */
.logo-container {
  position: relative;
  flex: 0 0 35%;
}

.odin-container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /* Perfectly offsets the image by its own half-width and half-height */
}

.odin-logo {
  width: 150px;
}

img ~ p {
  font-family: myFont;
  font-size: 150px;
  font-weight: bold;
}
